<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>автодок</title>
    <link rel="stylesheet" type="text/css" href="../static/css/Login.css">
</head>
<body>
    <div class="logo">автодок</div>
    <div class="loginBox">
        <div class="loginUpperBox">
            <h1 class="textBlack">Вход</h1>
            <h1 class="textGreyReg bigText">Регистрация</h1>
        </div>
        <div class="loginForm">
            <input class="inputForm textGrey" type="text" name="Mail-field" placeholder="E-mail">
            <input class="inputForm textGrey" type="text" name="Password-field" placeholder="Пароль">
            <a class="loginBtn textWhite" href="#">Войти</a>
        </div>
    </div>
</body>
</html>