<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>автодок</title>
        <link rel="stylesheet" type="text/css" href="../static/css/Login.css">
        <link rel="stylesheet" type="text/css" href="../static/css/MainPage.css">
    </head>
    <body>
        <div class="navbarBlock">
            <a href="#"><div class="logo">автодок</div></a>
            <div class="navbarPages">
                <div>
                    <a class="navText" href="#">входящие</a>
                </div>
                <div>
                    <a class="navText normal" href="#">архив</a>
                </div>
                <div>
                    <a class="navText normal" href="#">шаблоны</a>
                </div>
                <div>
                    <a class="navText normal" href="#">мои договора</a>
                </div>
                <div>
                    <a class="navText normal" href="#">сотрудники</a>
                </div>
                <div class="navImgBlock">
                    <a class="navImg" href="#"><img src="../static/images/bell-01.svg"></a>
                    <a class="navImg" href="#"><img src="../static/images/user-02.svg"></a>
                </div>
            </div>
        </div>
        <div class="mainContent">
            <div class="content">
                <a class="cardDoc" href="#">
                    <div class="docInf">
                        <div class="docName">Договор о поставке 1000 столов</div>
                        <div class="docPattern">по шаблону «договор о поставке»</div>
                    </div>
                    <div class="docDeadlines textDate">до 21.09.2023</div>
                </a>
                <a class="cardDoc" href="#">
                    <div class="docInf">
                        <div class="docName">Договор о поставке 1000 столов</div>
                        <div class="docPattern">по шаблону «договор о поставке»</div>
                    </div>
                    <div class="docDeadlines textDate">до 21.09.2023</div>
                </a>
                <a class="cardDoc" href="#">
                    <div class="docInf">
                        <div class="docName">Договор о поставке 1000 столов</div>
                        <div class="docPattern">по шаблону «договор о поставке»</div>
                    </div>
                    <div class="docDeadlines textDate">до 21.09.2023</div>
                </a>
            </div>
        </div>
        <a class="rightBtn" href="#">
            <img class="navImg" src="../static/images/plus.svg">
            <div class="txtWhite">Инициировать</div>
        </a>
    </body>
</html>