<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>автодок</title>
    <link rel="stylesheet" type="text/css" href="../static/css/Login.css">
</head>
<body>
    <div class="logo">автодок</div>
    <div class="registrationBox">
        <div class="loginUpperBox">
            <a class="textGreyReg bigText" href="#">Вход</a>
            <a class="textBlack" href="#">Регистрация</a>
        </div>
        <div class="loginForm">
            <input class="inputForm textGrey" type="text" name="Name-field" placeholder="Имя">
            <input class="inputForm textGrey" type="text" name="Surname-field" placeholder="Фамилия">
            <input class="inputForm textGrey" type="text" name="Mail-field" placeholder="E-mail">
            <input class="inputForm textGrey" type="text" name="Password-field" placeholder="Пароль">
            <input class="inputForm textGrey" type="text" name="Password-field" placeholder="Повторите пароль">
            <a class="loginBtn textWhite" href="#">Зарегистрироваться</a>
        </div>
    </div>
</body>
</html>